/*
#214252
#F05454
#AF2D2D
#CE6262
#000000
*/

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&display=swap');

:root {
    --primary: #AA2020!important;
    --light: #FF2020!important;
    --text-light: black;
    --text-dark: black;
    --shadow: #214252;
}

p {
    font-family: 'Oxygen', serif;
}

#cards h5, h5, .nav-link {
    font-family: 'Vollkorn', serif;
}

.carousel-item h5, .carousel-item p {
    text-shadow: 1px 1px 2px black;
}

h3 {
    font-family: 'Vollkorn', serif;
}

.navbar-brand {
    font-family: 'Vollkorn', serif;
  }
  

.btn-primary, .btn-primary:focus {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--text-light);
}
.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-dark);
}
a {
    color: var(--primary);
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: 0 5px 1px var(--shadow)!important;
 }

 .dropdown-item:active {
     background-color: var(--shadow)!important;
     color:var(--text-dark)!important;
 }

 .btn-outline-primary {
     color: var(--primary)!important;
     border-color: var(--primary)!important;
     box-shadow: 0 0 1px var(--primary)!important;
 }
 .btn-outline-primary:hover {
    color: var(--primary)!important;
    background-color: var(--primary)!important;
    color:var(--text-dark)!important;
    border-color: var(--primary)!important;
}
.btn-outline-primary:focus {
    color: var(--primary)!important;
    background-color: var(--primary)!important;
    color:var(--text-dark)!important;
    border-color: var(--primary)!important;
}